@model ttalviste.web.Models.Home.IndexViewModel
@{
    ViewBag.Title = Model.PageTitle;
}
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Sample</h1>
                    <p class="intro-text">Web and Systems development and consultancy</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
@{
    await Html.RenderPartialAsync("_About");
}
@{
    await Html.RenderPartialAsync("_Contact");
}