<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>Contact Me</h2>
        <p>Feel free contact me on any topic involving software development</p>
        <p>
            <a href="mailto:ttalviste@gmail.com">ttalviste@gmail.com</a>
        </p>
        <ul class="list-inline banner-social-buttons">
            <li>
                <a href="https://twitter.com/ttalviste" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
            <li>
                <a href="https://github.com/ttalviste/ttalviste.ee" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
            <li>
                <a href="https://plus.google.com/+ToomasTalviste/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
            </li>
        </ul>
    </div>
</div>